<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sui.discordmicfix">
    <application
        android:label="discordmicfix"
        android:hasCode="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/example_scope" />
        <meta-data
            android:name="lsposedmodule"
            android:value="true" />
    </application>
</manifest>
